<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="add_modify_inferiorCommodities_Panel" data-options="title:'商品小类',selected:true">
	<div style="margin:5px 0;"></div>
		<table>
			<tr>
				<td align="right" style="height: 40px" id="catCode">分类编号</td>
				<td><input id="add_modify_inferiorCommodities_catCode" name="catCode"></td>
			</tr>
			<tr>
				<td align="right" style="height: 40px">分类名称</td>
				<td><input id="add_modify_inferiorCommodities_catName" name="catName"></td>
			</tr>
			<tr>
				<td align="right" style="height: 40px">单位</td>
				<td><input id="add_modify_inferiorCommodities_unit" name="unit"></td>
			</tr>
			<tr>
				<td align="right" style="height: 40px">备注</td>
				<td><input id="add_modify_inferiorCommodities_catDesc" name="catDesc"></td>
			</tr>
			<tr>
				<td>分类图标</td>
				<td align="left"><input id="add_modify_inferiorCommodities_file" name="file"></td>
				<td><img id="add_modify_inferiorCommodities_fileSrc" src="../../resources/img/logo.png" style="width:36px;height:36px;"/></td>
			</tr>
		</table>
		<div id="saveAndCancel">
			<a id="saveInferiorCommodities"></a>&nbsp;&nbsp;&nbsp;
			<a id="cancelInferiorCommodities"></a>
		</div>
	</div>
</body>
</html>