<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="add_modify_productCat_Panel" data-options="title:'商品大类',selected:true">
	<div style="margin:5px 0;"></div>
		<table>
			<tr>
				<td align="right" style="height: 40px">分类编号</td>
				<td><input id="add_modify_productCat_catCode" name="catCode"></td>
			</tr>
			<tr>
				<td align="right" style="height: 40px">分类名称</td>
				<td><input id="add_modify_productCat_catName" name="catName"></td>
			</tr>
			<tr>
				<td align="right" style="height: 40px">备注</td>
				<td><input id="add_modify_productCat_catDesc" name="catDesc"></td>
			</tr>
			<tr>
				<td>分类图标</td>
				<td align="left"><input id="add_modify_productCat_file" name="file"></td>
				<td><img id="add_modify_productCat_fileSrc" src="../../resources/img/logo.png" style="width:36px;height:36px;"/></td>
			</tr>
		</table>
		<table>
			<tr>
				<td align="right" style="height: 40px">鉴定图定义</td>
			</tr>
		</table>
		<form action="" id="add_modify_productCat_Form">
		<table id="authenticate"></table>
		<a id="addTrNodes"></a>
		</form>
		<div id="saveAndCancel">
			<a id="saveProductCat"></a>&nbsp;&nbsp;&nbsp;
			<a id="cancelProductCat"></a>
		</div>
	</div>
</body>
</html>